*{margin:0px; padding:0px;}
*{margin:0px; padding:0px;}
li{list-style:none;}


/* Start Theme */
span[role="alert"]{
  color: red;
}

body{
    color: #515151;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    letter-spacing: 1px; font-size: 12px;
}
@media screen and (max-width: 974px) {
/* One or more CSS rules to apply when the query is satisfied */
.w3-container, .w3-panel {
    padding: 0.01em 2px;
}
}
.container-width{
    max-width: 1440px; margin: 0 auto; padding: 0 20px;
    box-sizing:border-box;  -moz-box-sizing:border-box; -webkit-box-sizing:border-box;
}
.form-control , .btn{
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
}

.navbar {

    margin-bottom: 2px;
    border-radius: 0;
     border: 0;
    /*box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); */
}
.navbar-header{
    margin-left: 2px;
}

@media only screen and (max-width: 993px) {
.navbar-toggle {
    display: block;
 }

 }

.cms-home .column.main{ margin-top: 0;}
.cms-home #authenticationPopup ~div{display: none;}
/*-------------------------------------------------------------------------Search bar CSS-----------------------------------------------------------*/
#liveSearch{
    width: 100%;
}

@media only screen and (max-width: 993px) {
  #liveSearch{
    width: 100%;
}

 }



/*-------------------------------------------------------------------------Header CSS-----------------------------------------------------------*/
/**/
.page-wrapper{background: #ebeef0;}
.page-wrapper .row:not(.main-content){
	background: #fff;
	margin-right: -5px;
	margin-left: -5px;
	margin-top: 12px;
}
@media only screen and (max-width: 768px) {
    .page-wrapper .row{

        margin-right: -15px;
        margin-left: -15px;

    }


  }

.header/*,.header-menu-outer*/{position: relative;}
@media only screen and (max-width: 768px) {
  .header {
  margin-bottom:0px;
  }

    nav.navigation{
      display: none;
    }


}


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */







/*slideer background */
.slider-background {
    background-image: url(https://media.publit.io/file/ecomImages/trade.jpg);
    background-repeat: no-repeat;
    background-color: #ccc;
    border: 1px solid;
    width: inherit;
    height: 390px;
    background-position: center center;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}
@media screen and (max-width: 974px) {
/* One or more CSS rules to apply when the query is satisfied */
.slider-background {
height: auto;  border-radius: 0 0 0 0;
}
}
h4.sell {
color: #000;
font-size: 22px;
font-weight: 300;
text-align: center;
position: relative;
margin: 87px 0 50px;
}

h6.sell {
color: #000;
font-size: 22px;
font-weight: 300;
text-align: center;
position: relative;
}

[data-img]{
padding: 13px 20px;
background: #f5f5f5;
box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}
[data-slider]{
padding: 13px 20px;
background: #f5f5f5;
}


/*FEATURED PRODUCTS ON CAROUSEL*/
h2.featured{
        color: #000;
        font-size: 26px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        margin: 17px 0 50px;

}
@media screen and (max-width: 974px) {
/* One or more CSS rules to apply when the query is satisfied */
h2.featured{
color: #000;
font-size: 16px;
text-transform: uppercase;
margin: 17px 0 50px;

}
}
h2 b {
    color: #ffc000;
}
h2.featured::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    bottom: -20px;
}
.carousel {
    margin: 12px auto 50px;



}
.carousel .item {
    min-height: 330px;
    text-align: center;
    overflow: hidden;
}
.carousel .item .img-box {
    height: 160px;
    width: 100%;
    position: relative;
}
.carousel .item img {
    height:330px;

    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.carousel .item h4 {
    font-size: 18px;
    margin: 10px 0;
}
.carousel .item .btn {
    color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}
.carousel .item .btn:hover, .carousel .item .btn:focus {
    color: #fff;
    background: #000;
    border-color: #000;
    box-shadow: none;
}
.carousel .item .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
    text-align: center;
}
.carousel .thumb-content {
    padding: 14px;

}
.carousel div.thumb-content h4 {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.thumb p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
div.mainSlider .carousel .carousel-control {
    height: 100px;
    width: 40px;
    background: none;
    margin: auto 90px auto 90px;
    background: rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 974px) {
/* One or more CSS rules to apply when the query is satisfied */
 div.mainSlider .carousel .carousel-control {
	 display:none;

}
}

.carousel .carousel-control {
    height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
}
.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
    font-size: 13px;
    padding: 2px 0;
}
.carousel .item-price strike {
    color: #999;
    margin-right: 5px;
}
.carousel .item-price span {
    color: #86bd57;
    font-size: 110%;
}
.carousel .carousel-control.left i {
    margin-left: -3px;
}
.carousel .carousel-control.left i {
    margin-right: -3px;
}
.carousel .carousel-indicators {
    bottom: -60px;
}
.carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border-color: transparent;
}
.carousel-indicators li {
    background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {
    background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
    padding: 0;
}
.star-rating i {
    font-size: 14px;
    color: #ffc000;
}

/*every product data*/
	div.img-box{
        display: flex;
        justify-content: center;
        background: #f4f4f4;
        margin-top: 7px;
    }
    span#add-to-favs{
        position: absolute;
        margin-left: 5em;
        margin-top: 3%;
        font-size: 20px;
        color: #ffc000;
        cursor:pointer;
    }
    @media screen and (max-width: 974px) {
        /* One or more CSS rules to apply when the query is satisfied */
        span#add-to-favs{
            margin-left: 3em;

        }
    }
	div.img-box img{
		height:150px;
		width:150px;
	}
	.item .img-box {
    height: 160px;
    width: 100%;
    position: relative;
}
 .item img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}
 .item h4 {
    font-size: 18px;
    margin: 10px 0;
}
.thumb-content .btn {
    color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;

}
.item .btn:hover, .carousel .item .btn:focus {
    color: #fff;
    background: #000;
    border-color: #000;
    box-shadow: none;
}
.item .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.thumb-wrapper {
    text-align: center;
}
 .thumb-content {
    padding: 4px;
	margin-top:6px;

}

.item-name{
font-size: 13px;
padding: 2px 0;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.item-price {
    font-size: 13px;
    padding: 2px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.item-price strike {
    color: #999;
    margin-right: 5px;
}
.item-price span {
    color: #86bd57;
    font-size: 110%;
}
/*prod by cat */
p#related-categories{
    border: 1px solid
    #ccc;
    font-size: 14px;
    font-weight: 700;
    padding: 6px;
    word-wrap: break-word;
    }
@media screen and (min-width: 992px) {
/* One or more CSS rules to apply when the query is satisfied */
div.products-by-category{
	margin-left:5em;
}


}
@media screen and (max-width: 982px) {
div#hot-supplier-panel:not(#all-suppliers):not(#panel-wrap){
    width:220px;
}

}
/*========HOT SUPPLIERS========*/
 .panel:not(#panel-wrap) {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 24px;
}
div#hot-supplier-panel{
    height: 320.3px;
    width: 250px;
}
.panel .panel-heading, .panel>:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.bg-primary, .bg-primary a {
    color: #fff;
}
.bg-primary {
    background-color: #5fa2dd;
}
.bg-success, .bg-success a {
    color: #fff;
}
.bg-success {
    background-color: #91c957;
}

.widget-header {
    padding: 15px 15px 50px 15px;
    min-height: 125px;
    position: relative;
    overflow: hidden;
}
.panel .panel-footer, .panel>:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.widget-body {
    padding: 50px 15px 15px;
    position: relative;
  /* background: #f1f9ff; */
}
.panel-body {
    padding: 25px 20px;
}
.pad-all {
    padding: 15px;
}
.widget-img {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    margin-left: -32px;
    top: -32px;
}
.img-md {
    width: 64px;
    height: 64px;
}
.widget-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
.img-border-light {
    box-shadow: 0 0 0 4px #fff;
}
.img-border {
    box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
}
.mar-no {
    margin: 0 !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
}
.text-muted, a.text-muted:hover, a.text-muted:focus, a.text-muted:focus {
    color: #606060;
}
.mar-btm {
    margin-bottom: 15px;
}
.pad-ver {
    padding-top: 15px;
    padding-bottom: 15px;
}
.pad-btm {
    padding-bottom: 15px;
}
.pad-top {
    padding-top: 8px;
}
.small, small {
    font-size: 65%;
}
.text-lg {
    font-size: 75%;
}

/*==========All Suppliers==============*/
div#all-suppliers p {
    text-align: center;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

div#all-suppliers{
    height: 320.3px;
    width: 250px;
}

@media screen and (max-width: 992px) {
/* One or more CSS rules to apply when the query is satisfied */

div#all-suppliers{
    height: 320.3px;
    width: 100%;
}

}
/*================supplier panel======================*/
div#supplier-panel{
    width: 250px;
}


@media screen and (max-width: 992px) {
    /* One or more CSS rules to apply when the query is satisfied */
    div#supplier-panel{
        width: 100%;
    }
}
/*===========find by cat===============*/
div.find-by-category img{
 width: 80px;
 height: 80px;
}
div.find-by-category div.row-1{
    padding: 5px;
    margin-bottom: 5px;

}

@media screen and (min-width: 699px) {
    /* One or more CSS rules to apply when the query is satisfied */
    div#find-by-cat-row{
     margin-top: 12;

    }


}
div.find-by-category div.supplier-col{
    margin-top: -20px;
}
div.find-by-category div.row-1:hover{
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);;
}
div.find-by-category p{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}



/*prod by cat */
@media screen and (max-width: 992px) {
/* One or more CSS rules to apply when the query is satisfied */
div#hot-suppliers {

/*text-align: center;*/
margin-bottom: 7px;
display: flex;
overflow: auto;
overflow-y:hidden;
white-space: nowrap;



}
}


div#hot-suppliers p{

text-align: center;
font-size: 16px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;


}

div#hot-suppliers>div.col-md-3:nth-child(even){
border-left: 1px solid #e2e2e2;
}

/*================TRADE SHOWS==============*/
h3.shows a{
 text-transform: lowercase;
 text-decoration: underline;
}

div#tradeShowBackground {
    background-image: url(https://media.publit.io/file/ecomImages/profile/icons/products/ClgMC1u9n2SAVTlgAA7uONkrRD4618.png);
    background-repeat: no-repeat;
    background-color:
    #ccc;
    border: 1px solid;
    width: 100%;
    height: 350px;
    background-position: center center;
    background-size: cover;
}
div#tradeShowBackground > div.tradeShowContent{
    padding: 13px 20px;
    background:
    #f5f5f5;
    box-shadow: 2px 2px 4px 2px
    rgba(0, 0, 0, 0.2);
    margin-top: 130px;
    text-transform: capitalize;
    font-size: 25px;
    text-align: center;
}

div#TradeShowsImg{
    margin-right: -1px;
margin-left: -1px;
}




/*FEATURED PRDODUCTS AND BUYING REQUESTS*/
@media only screen and (max-width: 992px) {


    nav.navigation{
      display: none;
    }

    #buying-r{
          display: none;
    }

    div#featured-products{
    display: block;

    }

    div#TradeShowsImg img{
    height: 100%;
    width: 100%;
}
 .data-carousel{
display: none;
}


}



/*.header div.panel.wrapper {  background-color: #ffffff;}*/
.tm_header_outer{
    display: inline-block;
    width: 100%;
    background: #fff;
    padding: 4px 0;
    vertical-align: middle; font-size: 14px; /* color: #fff; float: left; */
}


.tm_headerlinkmenu{padding: 0px;float: left; margin: 7px 0px 0 0px; line-height: 18px; position: relative;}






.header .header.content{ padding: 19px 0px 23px; width: 100%; max-width: 100%; background: #fff;}



.header.fixed .header-nav .navigation.custommenu #mainmenu{ top: 63px; }
.header.fixed .tm_headerlinks{ top: 56px; }
.header.fixed .minicart-wrapper .block-minicart{ top: 63px; }


.header-center{ float: left; }
.header-logo { padding: 1px 0 0 38px; }
.header-logo .logo{z-index: 3;float: none;display: inline-block;vertical-align: text-top;}

.header-right{ float: right; width:71.75%; }


.block.block-search{
    margin:6px 0 0;
    z-index: 3;
    float: left;
    padding: 0;
    width: 74.6%;
}
.block-search .block-title{display: none;margin:0;float: left;cursor: pointer;}
/*.block-search .block-title strong{
    color: #444444;
    font-weight: 500;
    position: relative;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}*/
.block-search .block-search-inner .block.block-content{
    clear: both; margin: 0px; padding: 0px;
}
.block-search .field.search{ float: left; width: 80.1%;}
.block-search .minisearch input[type="text"]{

    padding: 7px;
    border:1px solid #e6e6e6; background: #fafafa;
    width:100%;
}
/*.block-search .block-search-inner:hover .minisearch input[type="text"],.block-search .block-search-inner .minisearch input[type="text"]:focus{}*/
.block-search .actions{ float: left; cursor: pointer; margin: 0 0 0 10px;}
.block-search button.action.search[disabled] {opacity: 1;filter: Alpha(opacity=100);}
.block-search .actions .action.search{
    height: auto;
    position: relative;
    right: auto;
    color: #fff;
    background: #FF8E0A;
    font-size: 12px;
    font-weight: bold;
    padding: 9px 27px;
    border: none; text-transform: uppercase;
}
.block-search .actions .action.search:hover{ background :#000; }
.block-search button.action.search:before{display: none;}
.block-search button.action.search > span{position: relative;}
.block-search .label::before{display: block;}
.block-search input{background-color: #ffffff; }



/*-------------------------------Main menu----------------------------------*/

.header-left{ float:left;  margin: 0px 0px 0px; }
.tm_header.container-width{ position: relative; }
.header-menu-outer{ float: left; margin: 0px; }
.header-menu { width: 100%;  position: static;}
.header-nav{ float: left;  width: 100%;}
.header-nav-inner{float: left;}

.header-nav .navigation.custommenu #mainmenu {
    background: white none repeat scroll 0 0;
    display: none;
    position: absolute;
    top: 72px;
    width: auto; left: 0px; right: 0px; margin: 0 auto;
    /*box-shadow: 0 0 3px #aaa; -moz-box-shadow: 0 0 3px #aaa;-webkit-box-shadow: 0 0 3px #aaa;*/
    z-index: 5;
    /*border-radius: 5px;  -webkit-border-radius: 5px; -moz-border-radius: 5px;-o-border-radius: 5px; -khtml-border-radius: 5px;*/
    padding: 20px; border:1px solid #ededed; margin: 0 20px;
}




.header-nav .menu-title{
    position: relative;
    float: left;
    background-color: transparent;
    color: #000;
    font-size: 12px;
    padding: 7px 0 5px 30px;
    text-transform: capitalize;
    width: 97px;
    cursor: pointer;
}
.header-nav .menu-title-inner{
    position: relative;
    display: block;
    width: 100%;
    font-weight: 500; line-height: 1.30;
}
.header-nav .menu-title:after{
   content: "\f0c9";
    color: #000;
    font-family: "FontAwesome";
    float: right;
    position: relative;
    padding: 0px;
    height: 19px;
    line-height: 20px;
    position: absolute;
    top: 15px;
    width: 18px;
    box-sizing: border-box;
    left: 0px; font-size: 21px;
    font-weight: 400;
}
.header-nav .menu-title:before{
    color: #000;
    font-family: "FontAwesome";
    float: right;
    position: relative;
    line-height: 20px;
    font-size: 17px;
    top: 10px;
    left:8px;
 content: "\f107";
}

.header-nav .menu-title.active:before { content: "\f106"; line-height: 18px;}




/* ------------------ Start CMS -----------------*/

/* ------------------ Start Header CMS -----------------*/

.header-socail-links, .header-offerzone{float: left; width: auto;}
.header-socail-links ul > li{display: inline-block; vertical-align:top; margin:2px 7.5px 0px;}
.header-socail-links ul > li:last-child{margin-right: 0px;}
.header-socail-links a {font-size: 14px;color: #000;}
.header-socail-links a:hover{color: #FF8E0A;}
.header-offerzone ul li{float: left; margin:0 14px 0 20px; position: relative;}
.header-offerzone ul li:first-child{margin:0 14px 0 0px;}
.header-offerzone ul li a{ font-weight: 500; text-transform: capitalize; letter-spacing: 1px;}
.header-offerzone ul li:first-child a:before{ display: none; }
.header-offerzone ul li a:before {
   /*content: ""; */
    width: 1px;
    background-color: #E6E6E6;
    height: 60%;
    position: absolute;
    top: 25%;
    left: -20px;
}

/* ------------------ Naviation menu-----------------*/
ul.megamenu{
display: flex;justify-content: start;flex-wrap: nowrap;
}
.menu-container {
    width:100%;
    margin: 0 auto;
    padding: 20px 0;
}
.menu {
    width: 220px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    position: relative;
    padding: 0 0 0 4px;
    margin: 0;
    background-color: #fff;
   display: none;
}
.menu a, .menu a:link, .menu a:visited, .menu a:focus, span {

    text-decoration: none;
}
.menu a:hover {
    color: #227087;
    text-decoration: none;
}
.menu > li {
    display: block;
    text-align: start;
    margin-left: -4px;
    border-left: 1px solid #f5f5f5;
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #f5f5f5;
}
.menu > li {
    padding:20px 7px 7px 20px;
    display: block;


}
.menu > li:hover > a {
    color: #227087;
}
.menu > li:hover {
    background-color: #fff;
}
/* Megadrop width dropdown */
 .menu > li > .megadrop {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    list-style: none;
    top: 0px;
    left: 220px;
    width: 300px;
    min-height: 100%;
    text-align: left;
    margin-top: 30px;
    padding: 0;
    z-index: 99;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    border-top: 2px solid
		#f5f5f5;
		border-right: 2px solid
		#f5f5f5;
		border-bottom: 2px solid
		#f5f5f5;
		background-color:
		#fff;
 }
.menu > li:hover .megadrop {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}
.menu ul li:hover:after {
    color: #227087;
}
.menu .col {

    color:white;
}
.menu .col ul {
    padding: 0;
    margin: 0;
}
.menu .col ul li {
    padding: 6px;
    list-style: none;
    font-size: 13px;
    border-bottom: 2px dotted
#f5f5f5;
}
.menu .col h3 {
    font-size: 16px;
    padding: 10px 0;
    font-weight: bold;
    margin: 5px 0 5px 0;
    color: #227087;
    background: #eee;
}
.menu .col ul li a {
    display: block;
    padding: 7px 0 7px 12px;
    color: #227087;
}


.menu li a:not([class="subcats"])::after{
    float: right;
    margin-right: -4px;
     content:'\2192';
    display: inline-block;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 14px;
}


.menu .col ul li a:hover {
    color: #111;
    text-decoration: underline;
}
.menu > li > ul li ul, .menu li >ul li, .menu > li > .megadrop, .menu > li > ul, .menu > li {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-outs;
}

.header-btn{
background-color:#f7f7f7;
}

span#megaLists{
    font-size: 17px;
    height: 52px;
    line-height: 52px;
    margin-bottom: -7px;
}

li.cats:nth-child(n+2){
margin-left: 110px;
}


li[data-parent]:hover ul.menu{
 display: block;
}


/* ------------------ End Header CMS -----------------*/

/* ================= Main Slider Start ====================*/
div.mainSlider:hover  #carousel-control-mainSlider{
 display: block;
}
.mainSlider{margin-bottom: 0px;
margin-top: -18px;
margin-left: 0px;
margin-right: 0px;}
.mainSlider-bkg
{
   /* background-image: url("../images/slider-bkg.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
    padding: 55px 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    background-color:#f5f5f5;
}
.mainSlider-inner{padding: 30px; background: #fff; box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; border-radius: 5px; -webkit-border-radius: 5px;-moz-border-radius: 5px; -o-border-radius: 5px;-khtml-border-radius: 5px;}
.sliderLeft-menu{float: left; width: 18.29%; padding-right: 30px; box-sizing: border-box;}
.sliderLeft-menu .menu-tittle {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin: 0px 0 10px;
}

#mobile-menu{
    font-family: "Times New Roman", Times, serif;
    line-height:12px;
     font-size:12px;
      margin-top:4px;
      color: #68655e;
      letter-spacing: 0px;


}

    @media screen and (max-width: 480px) {
#mobile-menu {
    font-family: "Times New Roman", Times, serif;
    line-height: 12px;
     font-size:12px;
      margin-top:4px;
      color: #68655e;
      letter-spacing: 0px;
  }
}



@media (max-width: 767px){
      #header-center{
        display: none;
    }
      .header .header.content {

       padding: 3px 0;

      }

    .container-width{ padding: 0 5px; }



    .tm_header_left div.minicart-wrapper{ border-left: 1px solid #3a4256; }

    .header-left{ margin:0px; }
    .block.newsletter .content { box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box; margin:10px 0 0;width: 100%;}


/*-------------------------------------------------------------------------------------------Responsive CSS Ends Here---------------------------------------------------------------------------*/

    .result{
        position: absolute;
        z-index: 999;
        top: 100%;
        left: 0;
    }

    /* Formatting result items */
    .result p{
        width: 217px;
        margin: 0;
        padding: 7px 10px;
        border: 1px solid #CCCCCC;
        border-top: none;
        cursor: pointer;
    }
    .result p:hover{
        background: #f2f2f2;
    }

    /*TRADE SHOWS*/
   .shows{
    color: #000;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    }
