/*TRADE SHOWS*/
h3.shows {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

/*Categories*/
#categories {
    text-align: center;
    font-size: 14px;
    color: red;
    white-space: nowrap;
}

#categories img {
    height: 111px;
    width: 147px;
}

/*featured-products*/
#featured {
    text-align: center;
}
#featured-products img {
    height: 150px;
    width: 150px;
}
#featured-products span > a {
    font-size: 14px;
}
#featured-products {
    text-align: center;
}
#featured-products p {
    color: #000;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#featured-products p > a {
    color: #000;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#featured-products .price {
    font-size: 14px;
}

.block-title {
    font-size: 28px;
    line-height: 30px;
    color: #000;
    font-weight: 400;
    margin-bottom: 20px;
    border-left: 5px solid #54ae3f;
    padding-left: 10px;
    background-color: #f3f3f3;
    border-right: 5px solid #54ae3f;
}

.row-1 {
    border: 1px dotted #e2e2e2;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #fffdfd;
    color: #000;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    font-family: "Raleway", sans-serif, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    /*  background: #7386D5;    */
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#dismiss:hover {
    background: #fff;
    color: #7386d5;
}
/*
.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: block;
}
*/
#sidebar .sidebar-header {
    padding: 20px;
    background: #ffa38ec4;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #000;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
/*#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}*/

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #000;
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
    content: "\e259";
    display: block;
    position: absolute;
    right: 20px;
    font-family: "Glyphicons Halflings";
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: "\e260";
}
a.collapsed {
    color: #000;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386d5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#sidebarCollapse {
    width: 50px;
    height: 40px;
    background: #ffa38ec4;
    padding: 0;
}

ul.list-unstyled > li > a > .fa,
ul.list-unstyled > li > a > .glyphicon,
ul.list-unstyled > li > a > .ion {
    width: 20px;
}
#sidebarCollapse:focus,
#sidebarCollapse:active {
    border: 0;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.label-primary {
    background-color: #25cd66;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 992px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

/*fixed-mobile-navbar*/

.h2-tabbar use.ui {
    fill: #59818e;
}
.h2-tabbar .item.selected {
    color: #f57224;
}
.h2-tabbar use.selected {
    fill: #f57224 !important ;
}
.h2-tabbar svg path {
    fill: inherit;
}
#ic-Home path.lzd {
    fill: #fff;
}
.h2-tabbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    box-sizing: border-box;
}
.h2-tabbar .item,
.h2-tabbar .item.cart {
    position: relative;
}
.h2-tabbar .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-basis: 1px;
    -ms-flex-preferred-size: 1px;
    flex-basis: 1px;
    box-sizing: border-box;
    color: #59818e;
    padding: 4px 0 2px;
    width: 1px;
    text-decoration: none;
}
.h2-tabbar .item .svg-icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    overflow: hidden;
}
.h2-tabbar .item.cart .cart-num {
    position: absolute;
    display: none;
    top: 2px;
    left: 50%;
    color: #fff;
    background-color: #f57224;
    border: 1px solid #fff;
    margin: 0;
    border-radius: 14px;
    font-size: 12px;
    padding: 2px 4px;
    line-height: 14px;
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
}
.h2-tabbar .item.cart .cart-num.less-then-10 {
    padding: 2px 6px;
}
.h2-tabbar .text {
    font-size: 12px;
    -webkit-transform: scale(0.83);
    -ms-transform: scale(0.83);
    transform: scale(0.83);
    height: 14px;
    line-height: 1.231;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    margin-top: -1px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/*footer*/
#b {
    color: orange;
    font-size: 12px;
}

#footer ul li a {
    color: white;
}
#footer a:hover {
    color: #ff8e0a;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #featured-products .price {
        font-size: 11px;
        line-height: 2px;
    }
    #featured-products p > a {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .block-title {
        font-size: 14px;
        line-height: 20px;
        color: #000;
        font-weight: 10;
        margin-bottom: 10px;
        border-left: 5px solid #54ae3f;
        border-right: 5px solid #54ae3f;
        padding-left: 10px;
        background-color: #f3f3f3;
        text-align: center;
        border-right: 5px solid #54ae3f;
    }
}

/*===========Registration===*/
@media (min-width: 600px) {
    #register {
        display: flex;
        justify-content: center;
        padding: 12px;
    }
}
