#products-list img {
   height:150px;
   width:150px;
}
#products-list  span>a {
    font-size:14px;
}
#products-list {
 text-align:center;

}
#products-list  p  {
 color:#000;

}
#products-list  p>a{
font-size:14px;

}
#products-list  .price {
font-size:14px;

}
#bi .price {
font-size:14px;

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 #products-list .price {
font-size:11px;
line-height:2px;


}
#products-list p>a{
display:none;

}

#products-list img {
   height:126px;
   width:126px;
}
}


